
match-template-view-test-2.xcodeproj/project.xcworkspace/xcuserdata/olehkopyl.xcuserdatad/UserInterfaceState.xcuserstate
match-template-view-test-2.xcodeproj/xcuserdata/olehkopyl.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
match-template-view-test-2.xcodeproj/project.xcworkspace/xcuserdata/olehkopyl.xcuserdatad/Bookmarks/bookmarks.plist
match-template-view-test-2.xcodeproj/project.xcworkspace/xcuserdata/olehkopyl.xcuserdatad/Bookmarks/bookmarks.plist
